 /* Formulario */
 .contacto {
	background-image: url("../images/footer.jpeg");
	background-position: center;
	justify-content: center;
 }

 .contacto-h2{
	padding: 10px 50px;
 }
 

 .contacto-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
  }
  
  .contacto-form input,
  .contacto-form textarea {
	margin-bottom: 1em;
	padding: 0.5em;
  }
   /* Formulario */
  .contacto-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin:0 20px ;
	padding-bottom: 1em;
  }