  /* Footer */
  .footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
	height: 50px;
	width: 100%;
  }
  
  .instagram-icon {
	color: white;
    fill: rgb(255, 252, 252); /* Blanco por defecto */
    transition: fill 0.3s ease;
}

.instagram-icon:hover {
    fill: yellow; /* Cambia a amarillo en hover */
}

