/* Header */
.header {
	background-color: rgb(12, 0, 88);
	color: #f2f2f2;
	padding: 1em;
	text-align: center;
  }
  
  .header nav ul {
	list-style: none;
	padding: 0;
  }
  .header nav ul li a {
	color: #f2f2f2;
	border-bottom: solid black 1px;
  }
  .header nav ul li a:hover {
	font-size: 105%;
	color: #d68a8a;
  }
  .header nav ul li {
	display: inline;
	margin-right: 1em;
  }
  